* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
html {
  font-size: 62.5%;
}
:root {
  --background-white: #f5f6f5;
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  --Grey-500: hsl(234, 12%, 34%);
  --Grey-400: hsl(212, 6%, 44%);
  --White: hsl(0, 0%, 100%);
}

@font-face {
  font-family: "poppins";
  src: url(../assets/fonts/Poppins/Poppins-Light.ttf);
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "poppins";
  src: url(../assets/fonts/Poppins/Poppins-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "poppins";
  src: url(../assets/fonts/Poppins/Poppins-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: "poppins", sans-serif;
  background-color: var(--background-white);
  color: var(--Grey-500);
}
h1 {
  font-weight: 600;
}
.title_wrapper {
  text-align: center;
  margin-bottom: 5rem;
  max-width: 31.4rem;
  margin: 5rem auto;
}
.title_wrapper .title {
  font-size: 2.4rem;
  font-weight: 200;
}
.title_wrapper .sub_title {
  font-size: 2.4rem;
  font-weight: 600;
}
.title_wrapper .desc {
  font-size: 1.5rem;
  margin-top: 1.6rem;
}
.cards {
  display: grid;
  gap: 3rem;
  margin: 2rem;
}
.card {
  margin: 0 auto;
  background-color: var(--White);
  width: 100%;
  height: 25rem;
  border-top-width: 0.5rem;
  border-top-style: solid;
  border-radius: 0.6rem;
  padding: 3.2rem;
  /* background-color: antiquewhite; */
}
.card .card_title {
  font-size: 2rem;
}
.card .card_desc {
  font-size: 1.3rem;
  color: var(--Grey-400);
  font-weight: 200;
  line-height: 160%;
  letter-spacing: 1px;
}
.card .card_image {
  display: block;
  margin-left: auto;
  margin-top: 3.2rem;
}
.cards #card1 {
  border-color: var(--Cyan);
}
.cards #card2 {
  border-color: var(--Red);
}
.cards #card3 {
  border-color: var(--Orange);
}
.cards #card4 {
  border-color: var(--Blue);
}
